@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
}

.header{
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 10;
  height: 5vh;
  width: 30vw;

  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #558FEE 0%, #3CB3F1 100%);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.logo{
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
}
.search{
  margin-right: 10px;
}
input{
  padding: 3px;
  height: 24px;
  border-radius: 14px;
  border: 1px solid rgb(112, 112, 112);
}

/* nav{
  flex-grow: 1;
} */
ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}
li{
  cursor: pointer;
 }
li:hover{
  color: aliceblue;
}
.active{
  color: aliceblue;
}
button{
  width: 40px;
  height: 35px;
  background: #616568;
  border-radius: 15px;
  border: none;
  color: aliceblue;
  margin-left: 7px;
}
