<header class="header">
  <!-- <div class="logo" [routerLink]="['main']">TelecomStations</div> -->
  <nav>
      <ul>
          <li class="station-map" [routerLink]="['main']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Main Page</li>
          <li class="station-list" [routerLink]="['statistic']" routerLinkActive="active" >Statistic Page</li>
      </ul>
  </nav>
  <div class="search">
    <input type="text" placeholder="Station cordinate" [(ngModel)]="srcText">
    <button type="button" class="serach-btn" (click)="getSearchText()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</header>
