
.map-wrapper{
  position: relative;
  left: 0;
  top: 0;
  height: 90vh;
  width: 100vw;
  max-width: 100%;
}
#map{
  height: 90vh;
  z-index: 5;
}

.add-form{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  display: inline-block;
}
.add-form:active{
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
