
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-header">
        <h2 class="title">Добавить данные:</h2>
        <button type="button" class="close" appMapClick (click)="closeForm()" >
          <mat-icon>close icon</mat-icon>
        </button>
      </div>
      <div class="form-body">
        <div class="form-station-name-block">
          <h5>Stansiya bog'lama nomi:</h5>
          <input type="text" id="town" placeholder="Expamle_RUT" formControlName="town">
        </div>

        <div class="form-station-adress-block">
          <h5>Stansiya manzili</h5>
          <input type="text" formControlName="address">
        </div>

        <div class="form-station-status-block">
          <h5>Stansiya holati:</h5>
          <mat-button-toggle-group formControlName="work">
            <mat-button-toggle id="toggle-btn" [value]="true">Работает</mat-button-toggle>
            <mat-button-toggle id="toggle-btn" [value]="false">Не работает</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="form-station-location-block">
          <h5>Stansiya kordinatasi:</h5>
          <div formGroupName="location">
            <input type="text" id="cordinat-x" placeholder="00.0000" formControlName="lang">
            <input type="text" id="cordinat-y" placeholder="00.0000" formControlName="lat">
          </div>
        </div>

        <div formGroupName="cabel">
          <div class="form-station-cabel-block">
            <h5>Stansiyadagi optovolokno kabel:</h5>
            <input type="number" id="cabel" placeholder="2323" formControlName="length"><span>km</span>
          </div>

          <div class="form-station-cabel-block_amount">
            <h5>Stansiyadagi optovolokno kabel soni:</h5>
            <input type="number" id="amount-cabel" placeholder="15" formControlName="amount"><span>шт</span>
          </div>

          <div class="form-station-cabel-block_number">
            <h5>Kabel detallari:</h5>
            <span class="kabel-detal">Свободно:</span><input  class="number-cabel" type="number" id="empty" placeholder="5" formControlName="empty">
            <span class="kabel-detal">Занято:</span><input class="number-cabel" type="number" id="busy" placeholder="6" formControlName="busy">
        </div>
        </div>

        <div  class="form-station-atc-block-parent" formGroupName="atc">
          <button class="add-btn" type="button" (click)="addAtc()">
            <mat-icon>add_circle</mat-icon>
          </button>
          <div class="atc-temp-block" *ngFor="let item of formAtc; let ind = index">
            <h5 class="atc-name">Stansiyadagi qurilma nomi:</h5>
            <div class="add-block">
                <input type="text" placeholder="Example ATC" [formControlName]="ind">
                <button class="remove-btn" type="button" (click)="removeAtc(ind)">
                  <mat-icon>backspace</mat-icon>
                </button>
            </div>
          </div>
        </div>

      </div>
      <div class="btn-block">
        <button type="submit" class="submit" [disabled]="!form.valid">Добавить</button>
      </div>
    </form>

